 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 header {
   background-color: #f0f0f0;
   width: 100%;
   position: fixed;
   z-index: 999;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 200px;
 }

 .logo {
   text-decoration: none;
   color: #3a6cf4;
   text-transform: uppercase;
   font-size: 1.8em;
   font-weight: 700;
 }

 .navigation a {
   text-decoration: none;
   color: #3a6cf4;
   font-size: 1.5em;
   font-weight: 500;
   padding-left: 25px;
 }

 .navigation li {
   list-style: none;
 }

  .navigation a:hover {
   color: #d1161694;
 }

 section {
   padding: 100px 200px;
 }

 .main {
   width: 100%;
   min-height: 100vh;
   display: flex;
   align-items: center;
   background-color: #000000;
 }

 .main h2 {
   color: #fff;
   font-size: 1.4em;
   font-weight: 500;
 }

 .main h2 span {
   display: inline-block;
   margin-right: 20px;
   color: #4e9eff;
   font-size: 2.2em;
   font-weight: 600;
 }

 .main h3 {
   color: #fff;
   font-size: 1.8em;
   font-weight: 700;
   letter-spacing: 1px;
   margin-top: 10px;
   margin-bottom: 30px;
 }

 .main-btn {
   color: #fff;
   background-color: #3a6cf4;
   text-decoration: none;
   text-align: center;
   font-size: 1.1em;
   font-weight: 600;
   width: 15em;
   letter-spacing: 1px;
   display: inline-block;
   margin-bottom: 40px;
   margin-right: 20px;
   padding: 0.9375em 2.1875em;
   border-radius: 15px;
   transition: 0.7s ease;
 }

 .main-btn:hover {
   background-color: #0a49f6;
   transform: scale(1.1);
 }

 .second-btn {
   color: #fff;
   background-color: #74fe2a;
   text-decoration: none;
   text-align: center;
   font-size: 1.1em;
   font-weight: 600;
   width: 11em;
   letter-spacing: 1px;
   display: inline-block;
   margin-bottom: 40px;
   padding: 0.9375em 2.1875em;
   border-radius: 15px;
   transition: 0.7s ease;
 }

 .second-btn:hover {
   background-color: #00612a;
   transform: scale(1.1);
 }

 .social-icons a {
   color: #fff;
   font-size: 2em;
   padding-right: 20px;
   display: inline-block;
   margin-left: 18px;
 }

 .title {
   display: flex;
   justify-content: center;
   color: #3a6cf4;
   font-size: 2.2em;
   font-weight: 800;
   margin-bottom: 30px;
 }


 .content {
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
 }

 .card {
   background-color: #fff;
   width: 22em;
   box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
   border-radius: 10px;
   padding: 10px;
   margin: 15px;
   transition: 0.7s ease;
 }

 .card:hover {
   transform: scale(1.1);
 }

 .icon {
   color: #3a6cf4;
   font-size: 8em;
   text-align: center;
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
 }

 .icon i {
   margin: 15px;
 }

 .icon img {
   width: 100%;
 }

 .info {
   text-align: center;
 }

 .info h3 {
   color: #3a6cf4;
   font-size: 1.2em;
   font-weight: 700;
   margin: 10px;
   text-align: center;
 }

 .info p {
   text-align: center;
   text-justify: auto;
 }

 .info ul {
   list-style: none;
   text-align: justify;
   text-justify: auto;
 }

 .info ul li::before {
   content: "\2022";
   color: #0a49f6;
   font-weight: bold;
   font-size: 1.4em;
   display: inline-block;
 }

 .projects {
   background-color: #000016;
 }

 .container {
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap
 }

 .project-01 {
   display: flex;
   justify-content: center;
   flex-direction: column;
   flex-wrap: wrap;
 }

 .project-cat {
   display: flex;
   justify-content: let;
   border: solid;
   width: fit-content;
   color: #fffb80;
   font-size: 2.2em;
   font-weight: 800;
   margin-top: 20px;
   margin-left: 20px;
   border-radius: 5px;
   padding-right: 5px;
 }

 .projects .content {
   margin-top: 20px;
 }

 .project-card {
   background-color: #fff;
   width: 25em;
   border: 1px solid #fff;
   min-height: 14em;
   overflow: hidden;
   border-radius: 10px;
   margin: 20px;
   transition: 0.7s ease;
 }

 .project-card:hover {
   transform: scale(1.1);
 }

 .project-card:hover .project-image {
   opacity: 0.9;
 }

 .project-image img {
   width: 100%;
 }

 .project-info {
   padding: 1em;
 }

 .project-info p {
   color: #366cf4;
 }


 .project-category {
   font-size: 0.8em;
   color: #000;
   padding-left: 20px;
 }

 .project-title {
   display: flex;
   justify-content: space-between;
   text-transform: uppercase;
   font-size: 10px;
   font-weight: 800;
 }

 .more-details {
   text-decoration: none;
   color: #366cf4;
 }

 .more-details:hover {
   color: #601cfc;
 }

 .project-info ul {
   padding-left: 10px;
   text-align: justify;
   text-justify: auto;
 }

 .cards-contact .info h3 {
   color: #000;
 }

 .cards-contact .card {
   width: 25em;
   box-shadow: 0 5px 27px rgba(1, 1, 1, 15%);
 }

 .cards-contact .info p {
   font-size: 1.5em;
   font-weight: 450;
 }

 .cards-contact .icon {
   font-size: 4.5em;
 }

 .scrollup a {
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: transparent;
   --wp-admin-theme-color: #007cba;
   --wp-admin-theme-color-darker-10: #006ba1;
   --wp-admin-theme-color-darker-20: #005a87;
   --wp-admin-border-width-focus: 1.5px;
   line-height: 1.62857;
   box-sizing: border-box;
   outline: 0;
   text-decoration: none;
   bottom: 80px;
   content: "";
   display: block;
   font-family: FontAwesome;
   font-size: 28px;
   height: 50px;
   position: fixed;
   right: 80px;
   text-align: center;
   width: 50px;
   z-index: 1110;
   background: none 0px 0px repeat scroll transparent;
   border-style: solid;
   border-image: initial;
   transition: all 1s ease 0s;
   color: #3a6cf4;
   border-color: #3a6cf4;
   border-width: 2px;
 }


 .footer {
   background-color: #000016;
   color: #fff;
   padding: 2em;
   display: flex;
   justify-content: space-between;
 }

 .footer-title {
   font-size: 1.1em;
   font-weight: 600;
 }

 .footer-title span {
   color: #3a6cf4;
 }

 .footer .social-icons a {
   font-size: 1.5em;
   padding: 0 12px 0 0;
 }

 @media (max-width:1023px) {
   header {
     padding: 12px 20px;
   }

   .navigation a {
     padding-left: 10px;
   }

   .title {
     font-size: 1.8em;
   }

   section {
     padding: 80px 20px;
   }

   .main h2 {
     font-size: 1em;
   }

   .main h3 {
     font-size: 1.6em;
   }

   .content {
     flex-direction: column;
     align-items: center;
   }
 }

 @media (max-width:641px) {
   body {
     font-size: 12px;
   }

   .main h2 {
     font-size: 0.8em;
   }

   .main h3 {
     font-size: 1.4em;
   }
 }

 @media (max-width:300px) {
   body {
     font-size: 10px;

   }
 }